@import "bourbon";
@import "neat";
@import "./bootstrap";
@import "./bootstrap-theme";

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(./font/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/*** Base Elements ***/
body {
  min-height: 2000px;
  padding-top: 70px;
}

/*** Chart ***/
.form-group {
  margin: 10px 0;
}
.form-control {
  background-color: transparent !important;
  border: none !important;
  text-align: center;
}

.table-head {
  text-align: center;
}

/*** Footer ***/
.footer {
  height: 20px;
  background-color: black;
  opacity: 0.8;
}

